.titre {
    font-family: "NotoSans";
    text-align:center;
    padding-top:1%;
}

.textContainer {
    width:60%;
    text-align:left;
    margin-left:10%;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:2%;
    font-family: NotoSans;
}

.presentation {
    font-size:16px;
    font-weight:bolder;
    margin-bottom:5%;
}

.texte {

    font-size:16px;
}