<header>
  <div class="element">
    <img class="logo" src="./assets/images/logo.jpg">
  </div>
  <div class="element">
    <div class="optionsContainer">
      <label class="option">Projet</label>
      <label class="option">Ecole</label>
      <label class="option">IEF</label>
      <label class="option">Mercredi</label>
      <label class="option">Vacances</label>
      <label class="option">Formations</label>
      <label class="option">Partenaires</label>
      <label class="option">Association</label>
      <label class="option">Réservé</label>
    </div>
  </div>
</header>

<body></body>
<footer></footer>
