<header>
  <div class="element" id="logo-container">
    <img class="logo" src="./assets/images/logo.jpg">
  </div>
  <div class="element" id="element-options-container">
    <div class="optionsContainer">
      <a routerLink=""><label class="option">Projet</label></a>
      <a routerLink="/ecole"><label class="option">Ecole</label></a>
      <a routerLink="/ief"><label class="option">IEF</label></a>
      <label class="option">Mercredi</label>
      <label class="option">Vacances</label>
      <label class="option">Formations</label>
      <label class="option">Partenaires</label>
      <label class="option">Association</label>
      <label class="option">Réservé</label>
    </div>
  </div>
</header>

<body>
  <div class="bodyContainer">
    <router-outlet></router-outlet>
  </div>
</body>

<footer></footer>
