<div class="titre">
    <h1>Espace Maria Montessori Angers</h1>
</div>
<app-image-slider></app-image-slider>
<div class="textContainer">
    <div class="presentation">
            En centre-ville à Angers et à deux pas de la place du Ralliement, l’Espace Maria Montessori Angers « EMMA » animé par notre association propose des activités tout au long de l’année au sein de différents espaces dédiés à la pédagogie Montessori : une école, des ateliers périscolaires pour enfants à partir de 3 ans, des formations sur la pédagogie Montessori et des accompagnements respectueux de l’enfant.
            A l’initiative d’Aude Largeron, éducatrice 3-6 ans depuis 10 ans.
    </div>
</div>

<div class="textContainer">
    <div class="texte">
        L'EMMA est composé de plusieurs espaces et propose :
        <ul>
            <li>Une école – enfants de 3 à 6 ans (cycle 1) – et élémentaire (cycle 2 et 3)</li>
            <li>L’accueil d’enfants en IEF – instruits en famille – au sein de la classe.</li>
            <li>Des ateliers tous les mercredis matins pour les enfants de 3 à 6 ans qui peuvent ainsi bénéficier, même s’ils sont scolarisés, de la pédagogie Montessori.</li>
            <li>Des stages pédagogiques lors des vacances scolaires « à la carte » pour passer des vacances curieuses !</li>
            <li>Des formations ponctuelles à la pédagogie Montessori</li>
            <li>Des évènements ponctuels ou réguliers pour accompagner ses adhérents : ateliers, formations, rencontres de parents, ateliers parents-enfants, cafés pédagogiques ou activités de fabrication permettant aux adultes, parents, enseignants et professionnels de l’enfance de partager leurs connaissances après leurs formations.</li>
        </ul>
    </div>
</div>
